

/*
animation-name: EXPERIENCELoad;
animation-delay: 500ms;
animation-duration: 500ms;
animation-timing-function: ease-in-out;
animation-fill-mode: none ;

@keyframes EXPERIENCELoad {
  0% {
    background-image: transparent;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    background-color: blue;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    background-image: green;
    box-shadow: 1px 1px 8px -6px black;
    border-radius: 10px;
    -webkit-text-fill-color: white;
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
    -webkit-animation-timing-function
  }
  75% {
    background-color: red;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    background-image: transparent;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
*/



#nav {
  margin: 80px 0 50px 0;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 100px;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {}

.heroColor {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.999;
  color: transparent !important;
  position: relative;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(45deg, #92fe9d 0%, #00c9ff 100%);
  background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
  background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
  background-image: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
  background: linear-gradient(-45deg, rgb(232, 233, 222), rgb(106, 188, 176));
  background: ;
  background-size: cover;
  -webkit-background-clip: text;
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-weight: 800;
  margin-top: 80px;
}

body {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen;
}

html {
  height: 100%;
}

.NoDeco {
  text-decoration: none;
}

/* NAV BAR STYLES */
.HOME {
  /* Style */
  color: rgb(128, 128, 128);
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
  /* Backgrounds */
  box-shadow: -1px -1px 8px -6px transparent;
}

.HOME:hover {
  /* Style */
  background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
  background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.HOMEthere {
  /* Style */
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
  background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* Animations / webkit */
  transition: all ease .3s;
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
}

.EXPERIENCE {
  /* Style */
  color: rgb(128, 128, 128);
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
  /* Backgrounds */
  box-shadow: -1px -1px 8px -6px transparent;
}


.EXPERIENCE:hover {
  /* Style */
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.EXPERIENCEthere {
  /* Style */
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* Animations / webkit */
  transition: all ease .3s;
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
}

.PROCESS {
  /* Style */
  color: rgb(128, 128, 128);
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
  /* Backgrounds */
  box-shadow: -1px -1px 8px -6px transparent;
}

.PROCESS:hover {
  /* Style */
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.PROCESSthere {
  /* Style */
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* Animations / webkit */
  transition: all ease .3s;
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
}

.CONTACT {
  /* Style */
  color: rgb(128, 128, 128);
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
  /* Backgrounds */
  box-shadow: -1px -1px 8px -6px transparent;
}

.CONTACT:hover {
  /* Style */
  background-image: linear-gradient(135deg, #92fe9d 0%, #00c9ff 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.CONTACTthere {
  /* Style */
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(135deg, #92fe9d 0%, #00c9ff 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* Animations / webkit */
  transition: all ease .3s;
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
}

.JASON {
  /* Style */
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: 64px;
  background-image: linear-gradient(45deg, #fa709a 0%, #fee140 100%);
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.PopUp {
  /* Animations */
  transition: all ease .3s;
  /* webkit */
  -webkit-transition: all ease .3s;
  /* Possition and Margins */
  position: relative;
  height: auto;
  width: auto;
  padding: 8px 10px;
  line-height: auto;
  /* Backgrounds */
  box-shadow: -1px -1px 8px -6px transparent;
  border-radius: 1px;
}

.PopUp:hover {
  /* Style */
  box-shadow: 1px 1px 8px -6px black;
  border-radius: 10px;
  /* webkit */
  -webkit-text-fill-color: white;
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.PpH {
  color: rgb(128, 128, 128);
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
}

.Ppp {
  /* Process pop Paragraph */
  color: rgb(128, 128, 128);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.Ppp:hover {
  /* Process pop Paragraph */
  color: white;
}

.PppNH {
  /* Process pop Paragraph */
  color: rgb(128, 128, 128);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.PpGC:hover {
  /* Process pop Gradient Color */
  background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}

.ProcessSubHeading {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.999;
  color: transparent !important;
  position: relative;
  height: auto;
  width: auto;
  background-image: linear-gradient(135deg, #FEB692 15%, #EA5455 100%);
  background-size: cover;
  -webkit-background-clip: text;
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  font-weight: 800;
}

.ProcessBody {
  color: rgb(90, 90, 90);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.Copy {
  color: rgb(200, 200, 200);
}

.RoundShadow {
  box-shadow: 4px 4px 16px -8px black;
  border-radius: 20px;
}
